#user-list {
  margin-left: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-bar {
  width: 150px;
}
.fa {
  font-size: large;
}
.fa:hover {
  color: #F2CB05;
}
.fa-user {
  margin: 0 20px;
}
#count-cart {
  color: #ffffff;
  padding: 3px 3px;
  background-color: #277FF2;
  border-radius: 50%;
  font-size: 0.7em;
  position: absolute;
  cursor: pointer;
}
#count-cart:hover {
  color: #277FF2;
  background-color: #F2CB05;
}
.linkNav {
  color: black;
}