#mobileNavbar {
  background-color: #fff;
  display: none;
}
#navbar {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}
#navbar-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
#logo-navbar {
  font-weight: 400;
  color: #F2CB05;
  margin-bottom: 8px;
  margin-right: 20px;
  font-family:  'Lobster', cursive;
}

@media (max-width:992px){
  #navbar-container {
    display: none;
  }
  #mobileNavbar {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
  }
}