#auth-card {
  background-color: white;
  width: 40%;
  margin: 0 auto;
  padding: 70px 30px;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

@media (max-width: 690px){
  #auth-card {
    width: 90%;
    padding: 5px;
    border: none;
  }
}